<p>Products / <a [routerLink]="['/products', this.type]">{{ this.product.type }}</a> / {{ this.product.name }}</p>
<div class="d-flex flex-column flex-md-row justify-content-center mb-4 ">
    <!-- <div class="p-2 flex-shrink-0"> -->
    <img width="100%" class="flex-shrink-0" [src]="product.imageUrl" />
    <!-- </div> -->
    <div class="d-flex flex-column justify-content-start p-3 px-md-4 mb-3">
        <div class="p-2">
            <h2>{{ product.name }}</h2>
        </div>
        <div class="p-2">
            <h4>{{ product.price | currency: 'CAD'}}+</h4>
        </div>
        <div class="p-2 form-group">
            <label for="exampleFormControlSelect1">Size:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>12x18in <p>| {{ product.price | currency: 'CAD'}}</p>
                </option>
                <option>24x36in <p>| {{ product.price + 10 | currency: 'CAD'}}</p>
                </option>
            </select>
        </div>
        <div class="p-2 btn-group">
            <button type="button" class="btn btn-lg btn-outline-primary 
            product-btn" (click)=' handleAddToCart()'>Add To Cart</button>
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Shipping:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Meet-up within GTA <p>| {{ 0 | currency: 'CAD'}} Bridlewood Mall Friday 1:00p.m. </p>
                </option>
                <option>Delivery within GTA <p>| {{ 4.99 | currency: 'CAD'}} To your door by Friday 9:00p.m</p>
                </option>
                <option>Worldwide Standard <p>| {{ 9.99 | currency: 'CAD'}} 4-5 business days</p>
                </option>
                <option>Worldwide Express <p>| {{ 9.99 | currency: 'CAD'}} 2-4 business days</p>
                </option>
            </select>
        </div> -->
        <div class="p-2">
            <p>{{product.description}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Turpis cursus in hac habitasse. Elit sed vulputate mi sit amet mauris commodo.
                Quisque egestas diam in arcu. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Est
                placerat in egestas erat. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in.
                Pharetra magna ac placerat vestibulum lectus mauris ultrices. Turpis tincidunt id aliquet risus feugiat
                in. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Vitae sapien pellentesque
                habitant morbi tristique. Nullam non nisi est sit.</p>
        </div>

    </div>
</div>