<div class='card'>
    <div class='card-body'>
        <div class="d-flex flex-row justify-content-between">
            <h5 class="card-title mb-4"><span *ngIf='this.orderOwner'>{{this.orderOwner}} </span>{{ orderTime }} </h5>
            <span class="text-warning" *ngIf='!this.completedAt'>Due: {{ promiseDate }}</span>
            <span class="text-success" *ngIf='this.completedAt'>Completed: {{ this.completedAt }}</span>
        </div>
        <p>Transaction ID: {{ this.transactionId }}</p>
        <span *ngFor='let cartItem of userCart'>
            <span *ngFor='let item of cartItem | keyvalue'>
                <div class="d-flex justify-content-between row mb-4 mx-1">
                    <div class="flex-shrink-0">
                        <a [routerLink]="['/products', item.value.type, item.value.sku]">
                            <h5>{{item.value.name}} {{item.value.size}}</h5>
                            <p class="mb-1 text-muted text-uppercase small">Unit Price:
                                {{item.value.price | currency: 'CAD'}}
                            </p>
                            <p class="mb-1 text-muted text-uppercase small">Quantity:
                                {{item.value.qty }}
                            </p>
                        </a>
                    </div>
                    <div class="flex-shrink-0">
                        <p class="mb-1 medium">Price:
                            {{item.value.price * item.value.qty | currency: 'CAD'}}
                        </p>
                    </div>
                </div>
            </span>
        </span>
        <hr />
        <div class="d-flex justify-content-between">
            <div>
                <p>Subtotal:</p>
            </div>
            <div>
                <p>{{this.subtotal | currency: 'CAD'}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <p>{{ this.shipMethod }}:</p>
            </div>
            <div>
                <p>{{this.shipPrice | currency: 'CAD'}}</p>
                <hr />
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <p class='font-weight-bold'>Total:</p>
            </div>
            <div>
                <p class='font-weight-bold'>{{this.total | currency: 'CAD'}}</p>
            </div>
        </div>
        <span *ngIf='this.cat == "open_orders"'>
            Carrier
            <span>
                <form>
                    <div class="form-group">
                        <select class="form-control-sm" id="carrierSelect" name='carrierSelect'
                            [ngModel]="carrierSelect" (ngModelChange)="carrier($event)">
                            <option value="FEDEX">Fedex</option>
                            <option value="DHL">DHL Express</option>
                            <option value="DPD">DPD Global</option>
                            <option value="USPS">USPS</option>
                            <option value="OTHER">Latvijas Pasts</option>
                        </select>
                    </div>
                </form>
            </span>
        </span>
        <span *ngIf='this.cat != "complete_orders"'>
            <span *ngIf='this.cat === "open_orders"'>
                <p>Tracking Number <span *ngIf="this.moveTo==='Shipped'">(Required)</span><span
                        *ngIf="this.moveTo!='Shipped'">(Optional)</span>:</p>
                <input #box>
                <button class='btn btn-primary float-right' (click)='showAreYouSure(box.value)' id='moveBtn'>Mark as
                    {{this.moveTo}}</button>
            </span>
            <span *ngIf='this.cat != "open_orders"'><button class='btn btn-primary float-right'
                    (click)='showAreYouSure()' id='moveBtn'>Mark as
                    {{this.moveTo}}</button>
            </span>
        </span>
    </div>
</div>
<hr />


<div mdbModal #areYouSure="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="areYouSure.hide()">
                    <span (click)="areYouSure.hide()" aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Are You Sure?</h4>
            </div>
            <div class="modal-body">
                <p>You will be marking:</p>
                <p>
                    <span *ngIf='this.orderOwner'>{{this.orderOwner}}</span><span
                        *ngIf='this.uid!="all"'>{{this.uid}}</span>'s order on {{ orderTime }} as {{this.moveTo}}
                </p>
                <hr />
                <span *ngFor='let cartItem of userCart'>
                    <span *ngFor='let item of cartItem | keyvalue'>
                        <div class="d-flex justify-content-between row mb-4 mx-1">
                            <div class="flex-shrink-0">
                                <a [routerLink]="['/products', item.value.type, item.value.sku]">
                                    <h5>{{item.value.name}} {{item.value.size}}</h5>
                                    <p class="mb-1 text-muted text-uppercase small">Unit Price:
                                        {{item.value.price | currency: 'CAD'}}
                                    </p>
                                    <p class="mb-1 text-muted text-uppercase small">Quantity:
                                        {{item.value.qty }}
                                    </p>
                                </a>
                            </div>
                            <div class="flex-shrink-0">
                                <p class="mb-1 medium">Price:
                                    {{item.value.price * item.value.qty | currency: 'CAD'}}
                                </p>
                            </div>
                        </div>
                    </span>
                </span>
            </div>
            <div class="modal-footer">
                <p *ngIf='this.trackingNumber' class='float-left'>Tracking Number: {{ this.trackingNumber }} Carrier:
                    <span *ngIf="this.carrierName != 'OTHER'">{{ this.carrierName }}</span><span
                        *ngIf="this.carrierName === 'OTHER'">{{ this.carrierNameOther }}</span></p>
                <button type="button" class="btn btn-md btn-primary" (click)="moveToIntermediate()">Yes</button>
                <button type="button" class="btn btn-md btn-dark" (click)="areYouSure.hide()">No</button>
            </div>
        </div>
    </div>
</div>