<small>
    <a routerLink="/">OVVisuals /</a>
    <hr class="mt-0" />
</small>
<div class="container p-2">
    <div class="row d-flex flex-column flex-md-row justify-content-center">
        <!-- <div class="col-sm-12 col-md-5 col-lg-5 px-5 "> -->
        <img class="rounded-circle shadow mr-3 align-self-center" src="../../../assets/logo1.jpg" width="200px"
            height="100%" />
        <!-- </div> -->
        <div class=" col-sm-12 col-md-7 col-lg-7">
            <div class="hp-left">
                <div class="owl-carousel text-rotation ">
                    <div class="item text-muted text-small ">
                        <span>Artist</span>
                    </div>
                    <div class="item text-muted text-small ">
                        <span>University Student</span>
                    </div>
                </div>
                <h1>Oviya Subasanthirabose</h1>
                <p>Hey! I'm Oviya, welcome to my website. I provide a wide range of artistic services, see them all
                    below! You can request a custom piece by visiting the <a routerLink='/custom'><b>Custom Request
                            Page</b></a> or you can DM me on <a
                        href='https://www.instagram.com/ov.visuals/'><b>Instagram</b></a>.</p>
                <p>More about myself, I'm currently an undergraduate student at U of T Scarborough, studying Human
                    Biology and Neuroscience. I've been drawing for as long as I can remember and I've worked with
                    countless people to help them bring their artistic visions to life. Feel free to take a look at my
                    <a routerLink='/gallery'><b>Gallery</b></a> to see some of the pieces I've done over the years.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
            <div>
                <div style="padding-top: 50px;"></div>
                <div>
                    <h4 id="services">My Products and Services</h4>
                    <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-6 ">
            <div>
                <div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/portrait.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne" class="collapsed">
                                        Portraits
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapseOne" class="collapse" role="tabpanel">
                            <div class="ml-5">
                                Portraits are usually made digitally. Base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Prices can go up
                                depending on complexity. <b><a routerLink="/gallery/portraits">Click
                                        here</a></b> to see the portraits I've
                                made so far.
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/poster.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collapsePoster" aria-expanded="false"
                                        aria-controls="collapsePoster" class="collapsed">
                                        Posters
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapsePoster" class="collapse" role="tabpanel">
                            <div class="ml-5">
                                Posters are made digitally. Starting price is
                                {{ 45 | currency: 'CAD' }} for the digital image, and they can be printed, framed and
                                delivered to you worldwide. Prices can go up
                                depending on complexity. If you want a premade poster, <b><a
                                        routerLink="/products/posters">click here</a></b>. If
                                you want to see all the posters I've made, <b><a routerLink="/gallery/posters">click
                                        here</a></b>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/sticker.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collSticker" aria-expanded="false"
                                        aria-controls="collSticker" class="collapsed">
                                        Stickers
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collSticker" class="collapse" role="tabpanel">
                            <div class="ml-5">
                                Sticker designs are made digitally. You can either
                                request only the sticker, or request printed stickers. Starting price is
                                {{ 20 | currency: 'CAD' }} for the design.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/tattoo.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collTattoo" aria-expanded="false"
                                        aria-controls="collTattoo" class="collapsed">
                                        Tattoo Designs
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collTattoo" class="collapse" role="tabpanel">
                            <div class="ml-5">
                                Tattoo designs are made digitally. Starting price is {{ 30 | currency: 'CAD' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-6 ">
            <div>
                <div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/lamp.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collapseLamp" aria-expanded="false"
                                        aria-controls="collapseLamp" class="collapsed">
                                        Custom Engraved Lamps
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapseLamp" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                Lamps are RGB and illuminate a piece of plexiglass
                                to create a hologram effect. You can choose what you want on the plexiglass. Starting
                                price is {{ 25 | currency: 'CAD' }}. <b><a routerLink="/gallery/lamps">Click
                                        here</a></b> to see the lamps I've
                                made so far.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/logo.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collapseLogos" aria-expanded="false"
                                        aria-controls="collapseLogos" class="collapsed">
                                        Logos
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapseLogos" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                Logo designs are made digitally. Starting price is
                                {{ 30 | currency: 'CAD' }}. You can also request a simple animated
                                logo
                                (extra cost)
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/color-palette.png">
                                    </div>
                                    <a data-toggle="collapse" href="#collapsePaletter" aria-expanded="false"
                                        aria-controls="collapsePaletter" class="collapsed">
                                        Anything else
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapsePaletter" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                Contact me for any art related ideas you may have. I'll do my best to help you.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
            <div>
                <div style="padding-top: 50px;"></div>
                <div>
                    <h4 id="medium">My Mediums</h4>
                    <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-6 ">
            <div>
                <div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/art.png">
                                    </div>
                                    <a href="#collapseDigArt" aria-expanded="false" aria-controls="collapseDigArt"
                                        class="collapsed">
                                        Digital Art
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collapseDigArt" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I mainly focus on using my iPad and the Procreate app for most of my art. I've become
                                quite skilled at making almost any piece of art using this.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/colorpencil.png">
                                    </div>
                                    <a href="#collColorPencil" aria-expanded="false" aria-controls="collColorPencil"
                                        class="collapsed">
                                        Color Pencil
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collColorPencil" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/oil.png">
                                    </div>
                                    <a href="#collOil" aria-expanded="false" aria-controls="collOil" class="collapsed">
                                        Oil Paintings
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collOil" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/watercolor.png">
                                    </div>
                                    <a href="#collWatercolor" aria-expanded="false" aria-controls="collWatercolor"
                                        class="collapsed">
                                        Watercolor
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collWatercolor" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-6 ">
            <div>
                <div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/animation.png">
                                    </div>
                                    <a href="#collAnim" aria-expanded="false" aria-controls="collAnim"
                                        class="collapsed">
                                        Animations
                                    </a>
                                    <!-- Add to <a> tag for collapse data-toggle="collapse" -->
                                </div>
                            </div>
                        </h4>
                        <div id="collAnim" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/pencil.png">
                                    </div>
                                    <a href="#collSketch" aria-expanded="false" aria-controls="collSketch"
                                        class="collapsed">
                                        Sketches
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collSketch" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/paint.png">
                                    </div>
                                    <a href="#collAcryl" aria-expanded="false" aria-controls="collAcryl"
                                        class="collapsed">
                                        Acrylic Paintings
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collAcryl" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                I usually do these using my iPad and the Procreate app. I can also do them with
                                Pencil Color, Pencil (B&W Sketch), Watercolor, Oil or Acrylic Paint. My base price
                                starts at {{ 45 | currency: 'CAD' }} for digital portraits. Price can go up
                                depending on complexity and medium.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4>
                            <div role="tab">
                                <div class="mb-0 d-flex">
                                    <div class='mr-3'>
                                        <img src="../../../assets/icons/engraving.png">
                                    </div>
                                    <a href="#collEngr" aria-expanded="false" aria-controls="collEngr"
                                        class="collapsed">
                                        Engravings
                                    </a>
                                </div>
                            </div>
                        </h4>
                        <div id="collEngr" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="ml-5">
                                Currently, I engrave on plexiglass when creating custom lamps.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>