<div class="main-content">
  <div id="gallery" class="d-none">
    <ngx-masonry [options]="options" class="mx-auto">
      <div
        ngxMasonryItem
        class="masonry-item mx-3 my-3"
        *ngFor="let image of currImages; let i = index"
        [prepend]="image.prepend"
      >
        <img
          (click)="open(i, 0)"
          width="100%"
          [src]="image.src"
          [alt]="image.caption"
          style="outline: 6px solid rgba(241,239,231,0.3);"
        />
      </div>
    </ngx-masonry>
  </div>
</div>