img {
    height: 100% !important;
}


@media (max-width: 500px) {
    .masonry-item {
        width: 250px;
    }
}
@media (min-width: 500px) {
    .masonry-item {
        width: 400px;
    }
}

.masonry-img {
    max-width: 100%;
}
