<small>
  <a routerLink="/">OVVisuals</a> /
  <a [routerLink]="['/gallery', 'all']">Gallery</a> /
  <a [routerLink]="['/gallery', this.content]">{{ this.cap }} </a>
  <hr class="mt-0" />
</small>
<ngx-masonry [options]="options" [ordered]="true">
  <div
    ngxMasonryItem
    class="brick col-4 my-2"
    *ngFor="let image of allImages; let i = index"
    [prepend]="image.prepend"
  >
    <img
      (click)="open(i, 0)"
      width="100%"
      [src]="image.src"
      [alt]="image.caption"
      style="border-radius: 1%"
    />
  </div>
</ngx-masonry>
