<!-- <small>
  <a routerLink="/">OVVisuals</a> /
  <a [routerLink]="['/gallery', 'all']">Gallery</a> /
  <a [routerLink]="['/gallery', this.content]">{{ this.cap }} </a>
  <hr class="mt-0" />
</small> -->
<div class="d-flex flex-column justify-content-center text-center align-middle my-auto logodiv mb-5">
  <div class="row" id="bose" style="font-family: Anton-Regular; font-size: 25vw; letter-spacing: -0.05em;">
    <span class="mx-auto" style="color: #F1EFE7;">
      BOSE
    </span>
  </div>
  <div class="row" id="oviya" style="font-family: NotoSerifDisplayExtraCon; font-size: 5vw;transform: translateY(-2.4em) ">
    <span class="mx-auto" style="color: #3D3A3A;">
      <b>oviya</b>
    </span>
  </div>
  <div id="caret" class="row" style="position: absolute; bottom: 0; left: 50%;">
    <!-- <span class="mx-auto" style="color: #3D3A3A;"> -->
      <img src="assets/icons/caret-double-down.svg">
    <!-- </span> -->
  </div>
</div>

<div id="gallery" class="d-none" style="transform: translateY(1%);">
  <ngx-masonry [options]="options" [ordered]="true">
    <div
      ngxMasonryItem
      class="brick col-3 my-3"
      *ngFor="let image of currImages; let i = index"
      [prepend]="image.prepend"
    >
      <img
        (click)="open(i, 0)"
        width="100%"
        [src]="image.src"
        [alt]="image.caption"
        style="outline: 6px solid rgba(241,239,231,0.3);"
      />
    </div>
  </ngx-masonry>
</div>