<article class="card mb-3">
    <div class="card-body">
        <article class="card-group">
            <figure class="card bg">
                <div class="p-3">
                    <h5 class="card-title">{{ this.admin.numOpenOrders }}</h5>
                    <span>Open Orders from {{ this.admin.numOpenOrderUsers }} user<span
                            *ngIf="this.admin.numOpenOrderUsers > 1 || this.admin.numOpenOrderUsers === 0">s</span></span>
                </div>
            </figure>
            <figure class="card bg">
                <div class="p-3">
                    <h5 class="card-title">{{ this.wishListNum }}</h5>
                    <span>Wishlist Item<span *ngIf='wishListNum > 1'>s</span></span>
                </div>
            </figure>
            <figure class="card bg">
                <div class="p-3">
                    <h5 class="card-title">12</h5>
                    <span>Awaiting delivery</span>
                </div>
            </figure>
            <figure class="card bg">
                <div class="p-3">
                    <h5 class="card-title">50</h5>
                    <span>Delivered items</span>
                </div>
            </figure>
        </article>


    </div> <!-- card-body .// -->
</article> <!-- card.// -->

<article class="card  mb-3">
    <div class="card-body">
        <h5 class="card-title mb-4">Recent orders </h5>

        <div class="row">
            <div class="col-md-6">
                <figure class="itemside  mb-3">
                    <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
                    <figcaption class="info">
                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                        <p>Great item name goes here </p>
                        <span class="text-warning">Pending</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <figure class="itemside  mb-3">
                    <div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
                    <figcaption class="info">
                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                        <p>Machine for kitchen to blend </p>
                        <span class="text-success">Departured</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <figure class="itemside mb-3">
                    <div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
                    <figcaption class="info">
                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                        <p>Ladies bag original leather </p>
                        <span class="text-success">Shipped </span>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- row.// -->

        <a href="#" class="btn btn-outline-primary"> See all orders </a>
    </div> <!-- card-body .// -->
</article> <!-- card.// -->