<span *ngIf="this.isAdmin">

    <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="my-1" style="height: 100px;" *ngFor="let image of newOrder" cdkDrag>
            <img height="100%" [src]="image.src" />
        </div>
    </div> -->
    <div class="container text-white">
        <label>Upload Files: </label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01" (change)="handleFileInput($event.target.files)"
                    accept="image/*" multiple />
                <label class="custom-file-label" for="inputGroupFile01">Choose Files</label>
            </div>
        </div>

        <button (click)="updateGallery()" class="btn btn-primary">
            Save Changes
        </button>
        <div class="row">
            <div class="col-6">
                <h2>Active</h2>

                <div cdkDropList #activeList="cdkDropList" [cdkDropListData]="newActiveOrder"
                    [cdkDropListConnectedTo]="[inactiveList]" (cdkDropListDropped)="drop($event)">
                    <div class="my-1" style="height: 100px;" *ngFor="let image of newActiveOrder; let i = index"
                        cdkDrag>
                        {{i + 1}}. <img height="100%" [src]="image.src" /> <button (click)="moveToInactive($event)"
                            class="btn btn-danger" id="active-{{i}}">
                            Hide
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2>Inactive</h2>

                <div cdkDropList #inactiveList="cdkDropList" [cdkDropListData]="newInactiveOrder"
                    [cdkDropListConnectedTo]="[activeList]" (cdkDropListDropped)="drop($event)">
                    <div class="my-1" style="height: 100px;" *ngFor="let image of newInactiveOrder; let i = index"
                        cdkDrag>
                        {{i + 1}}. <img height="100%" [src]="image.src" /> <button (click)="moveToActive()"
                            class="btn btn-success">
                            Show
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>