<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Your Account</h2>
    </div> <!-- container //  -->
</section>

<section class="section-content ">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <a class="list-group-item active" id='overview' (click)='changePage("overview")'
                        style="color: white;"> Account Overview
                    </a>
                    <a class="list-group-item" id='open-orders' (click)='changePage("open-orders")'> Open Orders </a>
                    <a class="list-group-item" id='wishlist' (click)='changePage("wishlist")'> Your Wishlist </a>
                    <a class="list-group-item" id='settings' (click)='changePage("settings")'>Settings </a>
                    <a class="list-group-item" (click)='signOut()'>Sign
                        Out</a>
                </ul>
            </aside>
            <main class="col-md-9">
                <app-overview *ngIf='activePage==="overview"' [user]='user'></app-overview>
                <app-open-orders *ngIf='activePage==="open-orders"' [user]='user'></app-open-orders>
                <app-wishlist *ngIf='activePage==="wishlist"' [user]='user'></app-wishlist>
                <app-settings *ngIf='activePage==="settings"' [user]='user'></app-settings>
            </main>

        </div>

    </div> <!-- container .//  -->
</section>