<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="soc">
                    <div class="logo"></div>
                </div>
            </div><br>
            <div class="inner cover">
                <h1 class="cover-heading">The adventure Begins</h1>

                <p class="lead cover-copy">Hey! My website is coming soon. Feel free to contact me with the links
                    below!
                    Instagram DM's are preffered!</p>
                <!-- <p class="lead"><button type="button" class="btn btn-lg btn-default btn-notify" data-toggle="modal"
                        data-target="#subscribeModal">Notify Me</button></p> -->

                <div class="soc">
                    <a href="https://www.instagram.com/ov.visuals/" class="ig">
                        <div class="ig"></div>
                    </a>
                    <a href="https://www.facebook.com/OVVisuals-108014684346868">
                        <div class="fb"></div>
                    </a>

                </div>
            </div>
            <div class="prog">
                <div class="p-bar1"></div>
                <div class="p-bar2"></div>
                <div class="p-bar1"></div>
                <div class="p-bar2"></div>
                <div class="p-bar1"></div>
                <div class="nyan"></div>
                <div>&nbsp; 20% Complete</div>
                <div class="flag"></div>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; OVvisuals. Design by: Akathian Santhakumar <a href="https://www.github.com/Akathian">
                            <i class="fa fa-github" style="font-size:1.2em"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>