.logo {
    width: 150px;
}

.fb,
.ig,
.login,
.cart {
    transition: 0.5s;
}

.fb:hover {

    background-color: rgb(218, 218, 218);
    // transition: 1s;
    cursor: pointer;
}

.ig:hover {
    background-color: rgb(218, 218, 218);
    // transition: 1s;
    cursor: pointer;

}

.login:hover {
    background-color: rgb(218, 218, 218);
    // transition: 1s;
    cursor: pointer;

}

.cart:hover {
    background-color: rgb(218, 218, 218);
    // transition: 1s;
    cursor: pointer;
}

a {
    color: inherit;
}

.logo {
    width: 150px;
}

.bg-light {
    background-color: #e0e0e0 !important;
}

.logodiv {
    height: 100vh;
    // background: radial-gradient(#898684, #f1f1ee)
}

.transformedNav {
    height: 7vh;
    transition: all 2s ease-out;
}

#oviya {
    transition: all 2.75s ease-out;
}

