#logodiv {
    height: 100vh;
    transition: all 1.5s ease-out;
}

#bose {
    font-family: Anton-Regular, "Arial Black", sans-serif;
    font-size: 25vw; 
    letter-spacing: -0.05em;
    color: #47484A;

}

#oviya {
    font-family: Quebecks, "Times New Roman", serif;
    font-size: 8vw;
    font-weight: 1;
    transform: translateY(-1.6em);
    transition: transform 2.25s ease-out, opacity 0.5s;;
    color: #F1EFE7;
}

#oviya-tamil {
    font-family: tamil062, "Times New Roman", serif;
    font-size: 8vw;
    font-weight: 1;
    transition: opacity 1.5s;
    color: #F1EFE7;
}

#caret {
    height: 50px;
    width: 50px;
    transition: transform 1s, opacity 1.5s linear;
    z-index: -1;
    position: absolute; bottom: 0; left: 50%;
}

#char-test {
    font-family: tamil062, "Times New Roman", serif;
}