<!--Grid row-->
<div *ngIf='userWList[userWList.length-2]'>
    <!--Grid column-->

    <!-- Card -->
    <div class="mb-3">
        <div class="wish-list">
            <h5 class="mb-4">Wishlist (<span>{{this.userWList[this.userWList.length-1]}}</span> item<span
                    *ngIf="userWList[this.userWList.length-1] > 1">s</span>)</h5>
            <span *ngFor='let cartItem of userWList'>
                <span *ngFor='let item of cartItem | keyvalue'>
                    <div class="row mb-4">
                        <div class="col-md-5 col-lg-3 col-xl-3">
                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                <img class="img-fluid w-100" [src]="item.value.img" alt="Sample">
                                <a [routerLink]="['/products', item.value.type, item.value.sku]">
                                    <div class="mask">
                                        <img class="img-fluid w-100" [src]="item.value.img">
                                        <div class="mask rgba-black-slight"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-9 col-xl-9">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a [routerLink]="['/products', item.value.type, item.value.sku]">
                                            <h5>{{item.value.name}}</h5>
                                            <p class="mb-3 text-muted text-uppercase small">Size:
                                                {{item.value.size}}
                                            </p>
                                            <p class="mb-3 text-muted text-uppercase small">Unit Price:
                                                {{item.value.price | currency: 'CAD'}}
                                            </p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="p-2 form-group">
                                            <button type="button" class="btn btn-lg btn-primary 
                                                    product-btn" (click)='addToCart(item.value)'>Move To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a (click)='removeItem(item.value)' type="button"
                                            class="card-link-secondary small text-uppercase"><i
                                                class="fas fa-trash-alt "></i> Remove item </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </span>
            <hr class="mb-4">
        </div>
    </div>
    <!--Grid column-->


</div>
<div class="p-2" style="margin: auto; text-align: center;" *ngIf='!userWList[userWList.length-1]'>
    <p class="mb-3 text-muted text-uppercase small"><i>Your Wishlist is Empty</i></p>
</div>
<!-- Grid row -->

<!--Section: Block Content-->