/* You can add global styles to this file, and also import other style files */
.cart-item {
    font-size: small;
}

.filters {
    font-size: small;
}

.product-btn {
    font-size: small;
}

#window {
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/cover.jpg') no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

#count {
    // background: url(./assets/cover.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'NotoSerifDisplayExtraCon';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/NotoSerifDisplay-ExtraCondensedItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Anton-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quebecks';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Quebecks.ttf') format('truetype');
}

@font-face {
    font-family: 'tamil062';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/tamil062.ttf') format('truetype');
}

body {
    // background: radial-gradient(#898684, #f1f1ee);
    background-color: #302F2E;
    
    height: 100vh;
}

.main-content {
    transform: translateY(8vw);
}

// * {
//     outline: solid 1px red;
// }