/* You can add global styles to this file, and also import other style files */
.cart-item {
    font-size: small;
}

.filters {
    font-size: small;
}

.product-btn {
    font-size: small;
}

#window {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/cover.jpg') no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}