<!-- Footer -->
<footer class="page-footer font-small " style="background-color: rgba(0, 0, 0, 0.9) ;" >

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-3">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">OVVisuals</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="/">About Me</a></p>
                <p><a href="/#services">My Products & Services</a></p>
                <p><a href="/#medium">My Mediums</a></p>
                <p><a href="/subscribe">Subscribe to My Newsletter</a></p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/products/posters">Posters</a>
                </p>
                <p>
                    <a href="/custom">Custom Request</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/login">Your Account</a>
                </p>
                <p>
                    <a href="/checkout">Your Cart</a>
                </p>
                <p>
                    <a href="/shipping">Shipping Rates</a>
                </p>
                <p>
                    <a href="/privacy">Privacy Policy</a>
                </p>
                <p>
                    <a href="/terms">Terms & Conditions</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> <a
                        href="https://www.google.com/maps/place/2900+Markham+Rd,+Scarborough,+ON+M1X+1E6/@43.8248189,-79.2512682,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4d6d714c0b801:0xd4c151133b3756a7!8m2!3d43.8248189!4d-79.2490795">2900
                        Markham Rd, Scarborough, ON M1X 1E6 Unit #B5</a></p>
                <p>
                    <a href="https://www.instagram.com/ov.visuals/">
                        <i class="fa fa-instagram mr-3"></i>@ov.visuals
                    </a>
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>ovvisuals@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>647-865-3838
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 " style="background-color: rgba(0, 0, 0, 0.85) ;">&copy; 2020 Copyright:
        <span>OVVisuals,</span>
        Built by Akathian Santhakumar <a href="github.com/Akathian"><i class="fa fa-github"
                style="font-size:1.2em"></i></a>
        <!-- <div class="prog">
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="nyan"></div>
            <div>&nbsp; 20% Complete</div>
            <div class="flag"></div>
        </div> -->
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->