<hr />
<small>&copy; OVvisuals. Built by Akathian Santhakumar <a href="github.com/Akathian"><i class="fa fa-github"
            style="font-size:1.2em"></i></a></small>
<div class="prog">
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="p-bar1"></div>
    <div class="p-bar2"></div>
    <div class="nyan"></div>
    <!-- <div>&nbsp; 20% Complete</div> -->
    <div class="flag"></div>
</div>