<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-3">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">OVVisuals</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>👩🏽‍🎨 Oviya | 19</p>
                <p>📍Toronto based | Worldwide Shipping Available</p>
                <p>✉️ ovvisuals@gmail.com</p>
                <p>🌙 Almost anything art related | Dm for inquiries</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a [routerLink]="['/products', 'posters']">Posters</a>
                </p>
                <p>
                    <a routerLink="/custom">Custom Request</a>
                </p>
                <!-- <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p> -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a routerLink="/login">Your Account</a>
                </p>
                <p>
                    <a routerLink="/checkout">Your Cart</a>
                </p>
                <p>
                    <a routerLink="/shipping">Shipping Rates</a>
                </p>
                <p>
                    <a routerLink="/privacy">Privacy Policy</a>
                </p>
                <p>
                    <a routerLink="/terms">Terms & Conditions</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> 2900 Markham Rd, Scarborough, ON M1X 1E6 Unit #B5</p>
                <p>
                    <a href="https://www.instagram.com/ov.visuals/">
                        <i class="fa fa-instagram mr-3"></i>@ov.visuals
                    </a>
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>ovvisuals@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>647-865-3838
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
        <span>OVVisuals,</span>
        Built by Akathian Santhakumar <a href="github.com/Akathian"><i class="fa fa-github"
                style="font-size:1.2em"></i></a>
        <!-- <div class="prog">
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="p-bar1"></div>
            <div class="p-bar2"></div>
            <div class="nyan"></div>
            <div>&nbsp; 20% Complete</div>
            <div class="flag"></div>
        </div> -->
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->